body {
  /*background: #5cb85c;*/
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  margin: 8px 1%;
  border: 1px solid #ddd;
  padding: 8px;
  background: #fff;
  width: 125px;
}
.card__thumbnail {
  height: 125px;
  width: 100%;
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__thumbnail img {
  max-width: 125px;
  max-height: 125px;
/*  border: 1px solid #000;
*/}
.card__content {
  line-height: 1.4;
  margin: 8px 0 0;
}
.card__text {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.card__description {
  font-size: 12px;
  margin-bottom: 4px;
}
.card__date {
  font-size: 10px;
  color: #888;
  line-height: 1;
  text-align: right;
}
